/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  overflow-x: hidden;
}

:root {
  --ds-border: #bfbaba;
  --ds-border-selected: #0c66e4;

  --ds-text-white: white;
  --ds-text-bold: #a451dc;
  --ds-text-secondary: #777272;
  --ds-text-prepare-option: #434140;
  --ds-text-success: #53c453;
  --ds-text-not-found: #d9d9d9;

  --ds-background-disabled: #091e420f;
  --ds-background-prepare-option: #e1dfde;
  --ds-background-success: #c5eac3;
  --ds-background-container: #d8cfd1;
  --ds-background-secondary: #d2c7ef;
  --ds-background-white: white;

  --spacing-xs: 0.1rem;
  --spacing-s: 0.3rem;
  --spacing-sm: 0.5rem;
  --spacing-m: 0.7rem;
  --spacing-ml: 0.8rem;
  --spacing-l: 0.9rem;
  --spacing-xl: 1rem;
  --spacing-xxl: 2rem;

  --sizing-s: 1rem;
  --sizing-m: 2rem;
  --sizing-l: 3rem;

  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.2rem;
}

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ava-user-container {
  display: flex;
  align-items: center;

  gap: var(--spacing-m);
}
