/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Poppins", sans-serif;
}

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
